{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <div class="card-body">
                <i class="fas fa-user-astronaut fa-9x"></i>
                <h2 class="card-title">{{user_info.displayname}}</h2>
                <h4>@{{user_info.username}}</h4>
              <p class="card-text">
                  <br/>
                  {%if request.path == '/'%}
                  Following: {{followed_count}}<br/>
                  Total Tweets: {{tweet_count}}<br/>
                  {%else%}
                  {%if request.user.is_authenticated%}
                  {%ifnotequal request.user user_info%}
                  {%if user_info in request.user.followed.all%}
                  <a class="btn btn-danger" href="/{{user_info.username}}/unfollow/">Stop Following</a>
                  {%else%}
                  <a class="btn btn-success" href="/{{user_info.username}}/follow/">Follow</a>
                  {%endif%}
                  {%endifnotequal%}
                  {%endif%}
                  {%endif%}
              </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>I thought somebody with a twitterclone said something?</h2>
        {% include template_name %}
    </div>
  </div>
{% endblock %}
